---
import Layout from "../layouts/Layout.astro";
import "@new-ui/reset";
import "@new-ui/colors";
import "@new-ui/typography";
import "@new-ui/effects";
import "@new-ui/spacings";
import Dashboard from "../components/Dashboard";
---

<style>
:root {
  --background: #e9f2f1;
  --support-info: #1e1a71;
  --text-secondary: #1e2f03;
  --text-primary: #400000;
  --background-secondary: #eddcf300;
  --background-selected: #f3dde5e2;
}
</style>

<Layout
  site="网址导航 | 堤边人"
  title="网址导航 | 堤边人收集整理"
  tagline="如发现链接失效或有网址推荐，请单击右上角「推荐网址」"
>
  <main>
    <div style="max-width: 800px; margin: 0 auto; line-height: 2.0;">
    <h1>特别说明</h1>
    <p style="line-height: 1.7; font-size: 1.25em;">&emsp;&emsp;由于这个模板没有专门设计导航栏滚动条，我又没有相关的前端编程技术，所以你看到的滚动条样式是你自己的浏览器提供的（观察一下，是不是和页面最右侧的上下滚动条出奇一致？）所以我暂时没办法解决两个问题：<br>
      &emsp;&emsp;1. 滚动条样式不好看（你自己浏览器决定的，或许可以找找设置能不能调）<br>
      &emsp;&emsp;2. 点击右上角灯泡符号切换为深色模式以后，滚动条仍然是白色细长一条，鸡立鹤群
    </p>
    <h2 style="text-align: right;"><a href="/" style="text-decoration: none;">返回</a></h2>
  </div>
  </main>
</Layout>
