---
import Layout from "../layouts/Layout.astro";

import "@new-ui/reset";
import "@new-ui/colors";
import "@new-ui/typography";
import "@new-ui/effects";
import "@new-ui/spacings";
import Dashboard from "../components/Dashboard";
---

<Layout
  site="网址导航 | 堤边人"
  title="网址导航 | 堤边人收集整理"
  tagline="如发现链接失效或有网址推荐，请单击右上角「推荐网址」"
>
  <main>
    <Dashboard client:load />
  </main>
</Layout>
